:root {
  --background: #282a36;
  --secondary: #44475a;
  --third: #6272a4;
  --accent: #50fa7b;
  --font-color: #f8f8f2;
  --font-accent: #8be9fd;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  background-color: var(--background);
  color: var(--font-color);
  max-width: 40rem;
  margin: auto;
}

header {
  background-color: var(--secondary);
  padding: 10px;
  font-size: 0.75rem;
  position: fixed;
  left: 50;
  top: 0;
  max-width: 40rem;
  width: 100%;
}

nav {
  background-color: var(--accent);
  position: fixed;
  height: 10%;
  bottom: 0;
  left: 50;
  max-width: 40rem;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav a img {
  width: 55%;
  height: auto;
}

nav a {
  color: var(--background);
}

.content {
  margin-top: 5%;
}

.content:first-child {
  margin: 0;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
  background-color: var(--third);
}

.post:first-child {
  margin-top: 15%;
}

.post:last-child {
  margin-bottom: 15%;
}

.post-content p {
  background-color: var(--secondary);
  padding: 10px;
}

.post img {
  width: 100%;
  height: auto;
}

.interactive {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.interactive ul {
  display: flex;
  justify-content: space-between;
}

.comment {
  padding: 10px;
  background-color: var(--secondary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* profile */
.profile {
  height: 100%;
  width: 100%;
}

.prof-background {
  width: 100%;
}

.prof-background img {
  width: 100%;
}

.user-info {
  width: 100%;
}

.info-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.user-info img {
  width: 100%;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.info-left img {
  width: 80%;
  border-radius: 100%;
}

.info-mid {
  display: flex;
  flex-direction: column;
}

.user-about {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.user-about button {
  width: fit-content;
  padding: 0.5em;
}

.profile-img {
  width: 30%;
}

.profile-img img {
  width: 30%;
  border-radius: 100%;
}

/* games */
.profile-games {
  max-width: 100vw;
}

.games {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
  padding: 0.5em;
}

.games-container {
  margin-top: 5%;
}

.games:last-child {
  margin-bottom: 15%;
}

.game-img,
.game-title {
  width: 35%;
}

.game-img img {
  width: 100%;
}
