:root {
  --background: #282a36;
  --secondary: #44475a;
  --third: #6272a4;
  --accent: #50fa7b;
  --font-color: #f8f8f2;
  --font-accent: #8be9fd;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  background-color: var(--background);
  color: var(--font-color);
  max-width: 40rem;
  margin: auto;
}

/* header and nav styling */
header,
nav {
  height: 8vh;
  width: 100%;
  background-color: black;
  position: fixed;
}

header {
  top: 0;
}

header h1 {
  padding: 8px;
}

nav {
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav img {
  width: 60%;
  height: auto;
}

/* global */

section {
  margin-top: 10vh;
  padding: 1em;
}

.profile {
  padding: 0;
}
