:root {
  --background: #041133;
  --secondary: #023583;
  --third: #853987;
  --accent: #fe0060;
  --font-color: #f8f8f2;
  --font-accent: #8be9fd;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #020a1f;
}

body {
  display: block;
  background-color: var(--background);
  color: var(--font-color);
  max-width: 50rem;
  margin: auto;
  border: 1px solid var(--accent);
}

/* header and nav styling */
header,
nav {
  height: 8vh;
  width: 100%;
  max-width: 50rem;
  background-color: var(--accent);
  position: fixed;
}

header {
  top: 0;
}

header h1 {
  padding: 8px;
}

nav {
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav img {
  width: 60%;
  height: auto;
}

/* global */

section {
  padding: 10vh 1em;
  border: 2px solid;
}

.profile {
  padding: 0;
}
