.header {
  position: relative;
}

.profile_background {
  width: 100%;
}

.profile_background img {
  width: 100%;
  object-fit: cover;
}

.user_image {
  top: 80%;
  width: fit-content;
  position: absolute;
}

.user_image img {
  border: 7px solid green;
  width: 100%;
  border-radius: 100%;
}

.user_info {
  display: flex;
  justify-content: right;
  border: 1px solid;
  width: 50%;
}
