.user_games {
  padding: 1em;
}

.games_header {
  display: flex;
  justify-content: space-between;
  background-color: var(--third);
  padding: 1em;
}

.games {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.user_games {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.game {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary);
  height: 15vh;
}

.game_image {
  display: flex;
  height: 100%;
  width: 80%;
}

.game_image img {
  object-fit: cover;
  width: 100%;
}

.call_action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  background-color: var(--accent);
}

.call_action button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 5vh;
  height: 5vh;
  font-size: 1.5rem;
  border-radius: 100%;
}

.user_games:last-child {
  margin-bottom: 10vh;
}
