.post {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: #012356cf;
  padding: 8px;
}

.post_img {
  width: 100%;
}

.post_img img {
  width: 100%;
}

.post_text p {
  padding: 8px;
  width: 100%;
  background-color: #0411339e;
}

.user_img img {
  border-radius: 100%;
  border: 4px solid var(--font-accent);
}

.post_text {
  display: flex;
  justify-content: center;
  align-items: center;
}
